In [13]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

np.random.seed(0)
df = DataFrame(np.random.randint(0, 100, [8, 3]),
              columns=list('ABC'))
df['year'] = [2018] * 4 + [2019] * 4
df['quarter'] = 'Q1 Q2 Q3 Q4'.split() * 2

In [16]:
df

    A   B   C  year quarter
0  44  47  64  2018      Q1
1  67  67   9  2018      Q2
2  83  21  36  2018      Q3
3  87  70  88  2018      Q4
4  88  12  58  2019      Q1
5  65  39  87  2019      Q2
6  46  88  81  2019      Q3
7  37  25  77  2019      Q4

In [17]:
df.pivot_table(index='quarter', columns='year', values='A')

year     2018  2019
quarter
Q1         44    88
Q2         67    65
Q3         83    46
Q4         87    37

In [18]:
df.pivot_table(index='quarter', columns='year',
               values='A', sort=False, aggfunc=np.size)

year     2018  2019
quarter
Q1          1     1
Q2          1     1
Q3          1     1
Q4          1     1

In [21]:
filename = '../data/nyc-parking-violations-2020.csv'

df = pd.read_csv(filename,
                usecols=['Date First Observed', 'Registration State', 'Plate ID',
                        'Issue Date', 'Vehicle Make', 'Street Name', 'Vehicle Color'])
df = df.set_index('Issue Date') 
df.loc['01/02/2020 12:00:00 AM', 'Vehicle Make'].head(30)

Issue Date
01/02/2020 12:00:00 AM    MAZDA
01/02/2020 12:00:00 AM    TOYOT
01/02/2020 12:00:00 AM    NISSA
01/02/2020 12:00:00 AM     FORD
01/02/2020 12:00:00 AM      HIN
01/02/2020 12:00:00 AM     FORD
01/02/2020 12:00:00 AM     FORD
01/02/2020 12:00:00 AM    KENWO
01/02/2020 12:00:00 AM    CHRYS
01/02/2020 12:00:00 AM    TOYOT
01/02/2020 12:00:00 AM    TOYOT
01/02/2020 12:00:00 AM      GMC
01/02/2020 12:00:00 AM      VPG
01/02/2020 12:00:00 AM    ME/BE
01/02/2020 12:00:00 AM    INFIN
01/02/2020 12:00:00 AM    ACURA
01/02/2020 12:00:00 AM      KIA
01/02/2020 12:00:00 AM    INFIN
01/02/2020 12:00:00 AM    NISSA
01/02/2020 12:00:00 AM    HONDA
01/02/2020 12:00:00 AM    TOYOT
01/02/2020 12:00:00 AM    NISSA
01/02/2020 12:00:00 AM    BUICK
01/02/2020 12:00:00 AM    NISSA
01/02/2020 12:00:00 AM    NISSA
01/02/2020 12:00:00 AM    DODGE
01/02/2020 12:00:00 AM    NISSA
01/02/2020 12:00:00 AM    HONDA
01/02/2020 12:00:00 AM    HONDA
01/02/2020 12:00:00 AM     MINI
Name: Vehicle Make, dtype: object

In [30]:
df.loc['01/02/2020 12:00:00 AM', 'Vehicle Make'].head(30).to_csv()

'Issue Date,Vehicle Make\n01/02/2020 12:00:00 AM,MAZDA\n01/02/2020 12:00:00 AM,TOYOT\n01/02/2020 12:00:00 AM,NISSA\n01/02/2020 12:00:00 AM,FORD\n01/02/2020 12:00:00 AM,HIN\n01/02/2020 12:00:00 AM,FORD\n01/02/2020 12:00:00 AM,FORD\n01/02/2020 12:00:00 AM,KENWO\n01/02/2020 12:00:00 AM,CHRYS\n01/02/2020 12:00:00 AM,TOYOT\n01/02/2020 12:00:00 AM,TOYOT\n01/02/2020 12:00:00 AM,GMC\n01/02/2020 12:00:00 AM,VPG\n01/02/2020 12:00:00 AM,ME/BE\n01/02/2020 12:00:00 AM,INFIN\n01/02/2020 12:00:00 AM,ACURA\n01/02/2020 12:00:00 AM,KIA\n01/02/2020 12:00:00 AM,INFIN\n01/02/2020 12:00:00 AM,NISSA\n01/02/2020 12:00:00 AM,HONDA\n01/02/2020 12:00:00 AM,TOYOT\n01/02/2020 12:00:00 AM,NISSA\n01/02/2020 12:00:00 AM,BUICK\n01/02/2020 12:00:00 AM,NISSA\n01/02/2020 12:00:00 AM,NISSA\n01/02/2020 12:00:00 AM,DODGE\n01/02/2020 12:00:00 AM,NISSA\n01/02/2020 12:00:00 AM,HONDA\n01/02/2020 12:00:00 AM,HONDA\n01/02/2020 12:00:00 AM,MINI\n'

In [29]:
help(df.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, sep: 'str' = ',', na_rep: 'str' = '', float_format: 'str | Callable | None' = None, columns: 'Sequence[Hashable] | None' = None, header: 'bool_t | list[str]' = True, index: 'bool_t' = True, index_label: 'IndexLabel | None' = None, mode: 'str' = 'w', encoding: 'str | None' = None, compression: 'CompressionOptions' = 'infer', quoting: 'int | None' = None, quotechar: 'str' = '"', lineterminator: 'str | None' = None, chunksize: 'int | None' = None, date_format: 'str | None' = None, doublequote: 'bool_t' = True, escapechar: 'str | None' = None, decimal: 'str' = '.', errors: 'str' = 'strict', storage_options: 'StorageOptions' = None) -> 'str | None' method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string. If a non-binary file object is passed, it should
        be opened with `newline=''`, disabling universal newlines. If a binary
        file object is passed, `mode` might need to contain a `'b'`.

        .. versionchanged:: 1.2.0

           Support for binary file objects was introduced.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, Callable, default None
        Format string for floating point numbers. If a Callable is given, it takes
        precedence over other numeric formatting parameters, like decimal.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.
    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str, default 'w'
        Python write mode. The available write modes are the same as
        :py:func:`open`.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
        is a non-binary file object.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        Set to ``None`` for no compression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdCompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.

        .. versionchanged:: 1.2.0

            Compression is supported for binary file objects.

        .. versionchanged:: 1.2.0

            Previous versions forwarded dict entries for 'gzip' to
            `gzip.open` instead of `gzip.GzipFile` which prevented
            setting `mtime`.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    lineterminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).

        .. versionchanged:: 1.5.0

            Previously was line_terminator, changed for consistency with
            read_csv and the standard library 'csv' module.

    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

    To write a csv file to a new folder or nested folder you will first
    need to create it using either Pathlib or os:

    >>> from pathlib import Path  # doctest: +SKIP
    >>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
    >>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv(filepath)  # doctest: +SKIP

    >>> import os  # doctest: +SKIP
    >>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP

In [31]:
filename = '../data/sat-scores.csv'

df = pd.read_csv(filename,
                usecols=['Year',
                         'State.Code',
                         'Total.Math',
                         'Total.Test-takers',
                         'Total.Verbal'])

df = df.set_index(['Year', 'State.Code'])

In [36]:
df.head(75).to_csv()

'Year,State.Code,Total.Math,Total.Test-takers,Total.Verbal\n2005,AL,559,3985,567\n2005,AK,519,3996,523\n2005,AZ,530,18184,526\n2005,AR,552,1600,563\n2005,CA,522,186552,504\n2005,CO,560,11990,560\n2005,CT,517,34313,517\n2005,DE,502,6257,503\n2005,DC,478,3622,490\n2005,FL,498,93505,498\n2005,GA,496,59842,497\n2005,HI,516,7878,490\n2005,ID,542,3506,544\n2005,IL,606,12970,594\n2005,IN,508,41553,504\n2005,IA,608,1671,596\n2005,KS,588,2667,585\n2005,KY,559,4666,561\n2005,LA,562,3290,565\n2005,ME,505,10985,509\n2005,MD,515,44458,511\n2005,MA,527,59104,520\n2005,MI,579,10965,568\n2005,MN,597,6470,592\n2005,MS,554,1106,564\n2005,MO,588,4413,588\n2005,MT,540,3326,540\n2005,NE,579,1684,574\n2005,NV,513,7065,508\n2005,NH,525,12350,525\n2005,NJ,517,81479,503\n2005,NM,547,2536,558\n2005,NY,511,154897,497\n2005,NC,511,53314,499\n2005,ND,605,351,590\n2005,OH,543,35155,539\n2005,OK,563,2699,570\n2005,OR,528,19535,526\n2005,PA,503,104155,501\n2005,PR,458,1891,462\n2005,RI,505,8200,503\n2005,SC,499,23488,494\n2005,SD,589,450,589\n2005,TN,563,7642,572\n2005,TX,502,133115,493\n2005,UT,557,2112,566\n2005,VT,517,5548,521\n2005,VI,405,898,422\n2005,VA,511,3480,523\n2005,WA,534,35020,532\n2005,WI,599,4230,592\n2005,WY,543,656,544\n2006,AL,562,3879,566\n2006,AK,519,3945,517\n2006,AZ,529,18615,520\n2006,AR,568,1489,574\n2006,CA,520,191740,501\n2006,CO,565,11806,557\n2006,CT,517,34522,512\n2006,DE,502,6406,495\n2006,DC,473,3593,487\n2006,FL,497,94601,496\n2006,GA,496,58309,494\n2006,HI,511,7821,481\n2006,ID,545,3163,542\n2006,IL,609,12694,591\n2006,IN,511,41568,498\n2006,IA,614,1477,603\n2006,KS,591,2545,582\n2006,KY,563,4417,561\n2006,LA,573,2622,571\n2006,ME,503,10895,501\n2006,MD,510,45231,503\n2006,MA,524,59529,513\n2006,MI,584,10405,569\n'

In [52]:
filename = '../data/olympic_athlete_events.csv'

df = pd.read_csv(filename,
                usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'Sport', 'Medal'])

df = df.loc[df['Team'].isin(['Great Britain', 'France', 'United States', 'Switzerland', 'China', 'India'])]
df = df.loc[df['Year'] >= 1980]

np.random.seed(0)
df.sample(30).to_csv()

/usr/local/lib/python3.11/site-packages/pandas/core/internals/blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

',Age,Height,Team,Year,Season,Sport,Medal\n90722,23.0,160.0,United States,2002,Winter,Freestyle Skiing,\n21261,14.0,142.0,China,1996,Summer,Gymnastics,\n89632,25.0,174.0,China,2008,Summer,Football,\n150341,22.0,170.0,Great Britain,2004,Summer,Swimming,\n241146,24.0,163.0,United States,1992,Summer,Athletics,\n79399,34.0,178.0,Great Britain,1996,Summer,Shooting,\n165043,18.0,183.0,France,2008,Summer,Swimming,\n138245,19.0,198.0,China,1996,Summer,Basketball,\n185088,27.0,178.0,United States,1996,Summer,Handball,\n202888,22.0,171.0,United States,1992,Summer,Gymnastics,\n189582,23.0,186.0,Great Britain,2016,Summer,Table Tennis,\n60422,23.0,168.0,France,1992,Winter,Alpine Skiing,\n61523,20.0,175.0,United States,1984,Summer,Basketball,Gold\n266653,22.0,174.0,China,1984,Summer,Athletics,\n41254,20.0,180.0,United States,1980,Winter,Ice Hockey,Gold\n192712,20.0,,India,1992,Summer,Boxing,\n27195,26.0,171.0,Switzerland,1994,Winter,Alpine Skiing,\n193744,27.0,170.0,United States,2016,Summer,Sailing,\n121607,19.0,183.0,United States,1984,Summer,Cycling,Bronze\n267959,20.0,170.0,Switzerland,1992,Winter,Nordic Combined,\n196395,16.0,157.0,France,2000,Summer,Gymnastics,\n108394,21.0,175.0,China,2008,Summer,Synchronized Swimming,Bronze\n145335,16.0,152.0,France,1992,Summer,Gymnastics,\n44301,34.0,160.0,United States,2014,Winter,Freestyle Skiing,\n124270,25.0,180.0,France,2004,Summer,Handball,\n142785,20.0,172.0,China,1992,Summer,Swimming,\n182794,28.0,169.0,France,2002,Winter,Alpine Skiing,\n37558,19.0,173.0,United States,2010,Winter,Short Track Speed Skating,Bronze\n215080,25.0,189.0,Great Britain,2008,Summer,Athletics,\n239906,22.0,165.0,China,1988,Summer,Athletics,\n'