In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Open the file `winemag-150k-reviews.csv`, and read it into a data frame
filename = '../data/winemag-150k-reviews.csv'

df = pd.read_csv(filename,
                usecols=['country','points','province','description', 'variety'])
df.head()

,country,description,points,province,variety
0,US,This tremendous 100% varietal wine hails from ...,96,California,Cabernet Sauvignon
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",96,Northern Spain,Tinta de Toro
2,US,Mac Watson honors the memory of a wine once ma...,96,California,Sauvignon Blanc
3,US,"This spent 20 months in 30% new French oak, an...",96,Oregon,Pinot Noir
4,France,"This is the top wine from La Bégude, named aft...",95,Provence,Provence red blend

# Beyond 1

Which country's wines got the highest average score for all wines?

In [3]:
(
    df
    .groupby('country')['points'].mean()
    .sort_values(ascending=False)
    .head(10)
)

country
England     92.888889
Austria     89.276742
France      88.925870
Germany     88.626427
Italy       88.413664
Canada      88.239796
Slovenia    88.234043
Morocco     88.166667
Turkey      88.096154
Portugal    88.057685
Name: points, dtype: float64

# Beyond 2

Create a pivot table in which the index contains countries, the columns contain varieties, and the cells contain mean scores. Only include the top 10 varieties.

In [4]:
(
    df.loc[df['variety']
           .isin(df['variety']
                 .value_counts()
                 .head(10)
                 .index)]
            .pivot_table(index='country', 
                         columns='variety', 
                         values='points')
)

variety,Bordeaux-style Red Blend,Cabernet Sauvignon,Chardonnay,Merlot,Pinot Noir,Red Blend,Riesling,Sauvignon Blanc,Syrah,Zinfandel
country,,,,,,,,,,
Argentina,89.575472,85.527745,84.177489,84.341969,85.058333,88.197059,85.000000,83.295302,85.232394,NaN
Australia,88.841463,88.115502,86.727952,85.258824,86.405263,87.816176,87.790210,86.624060,91.952381,88.200000
Austria,91.625000,87.750000,90.016393,89.000000,88.753846,88.890511,90.583955,88.694215,87.000000,NaN
Brazil,86.000000,81.000000,NaN,83.200000,NaN,84.000000,NaN,NaN,NaN,NaN
Bulgaria,NaN,84.812500,86.875000,84.363636,87.400000,89.000000,83.750000,84.400000,90.000000,NaN
Canada,89.000000,88.666667,88.653846,87.875000,89.111111,89.500000,87.564516,87.750000,89.666667,NaN
Chile,89.754717,86.561564,85.246011,84.939189,85.827273,88.683168,85.714286,85.895805,87.506739,85.000000
China,NaN,NaN,82.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Croatia,NaN,NaN,85.000000,NaN,84.000000,86.000000,NaN,82.000000,NaN,NaN
Cyprus,NaN,88.000000,NaN,NaN,NaN,85.714286,NaN,NaN,NaN,NaN
Czech Republic,NaN,86.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
England,NaN,NaN,94.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,89.557460,84.080000,89.315353,84.971698,89.430777,87.540984,89.063872,88.026882,89.772926,NaN
Germany,NaN,87.000000,89.166667,NaN,87.075472,87.285714,88.918816,83.000000,NaN,NaN
Greece,86.600000,85.837838,85.638889,86.142857,NaN,86.050847,NaN,86.526316,86.733333,NaN
Hungary,85.818182,86.666667,83.000000,88.200000,90.000000,84.454545,NaN,86.000000,NaN,NaN
India,NaN,82.000000,NaN,NaN,NaN,NaN,NaN,89.500000,NaN,NaN
Israel,88.615385,87.753521,86.746479,86.078125,85.615385,87.760563,90.000000,84.666667,87.481481,85.000000
Italy,88.600000,89.536680,88.367906,89.864952,86.000000,89.042238,87.500000,86.517241,89.246862,NaN
Lebanon,NaN,82.000000,NaN,NaN,NaN,85.529412,NaN,NaN,NaN,NaN
Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,86.000000,NaN,NaN,NaN
Macedonia,NaN,82.000000,NaN,NaN,84.000000,82.500000,NaN,NaN,NaN,NaN
Mexico,87.500000,83.666667,83.375000,82.000000,NaN,87.500000,NaN,84.400000,85.500000,NaN
Moldova,90.000000,84.545455,82.000000,85.000000,81.000000,85.400000,NaN,84.000000,NaN,NaN
Morocco,NaN,NaN,88.000000,NaN,NaN,89.000000,NaN,88.000000,90.000000,NaN
New Zealand,88.905405,86.944444,87.810573,86.737705,87.731626,89.800000,87.946667,87.287120,87.674419,90.000000
Portugal,89.875000,88.720000,87.642857,86.142857,88.928571,87.189189,NaN,85.727273,88.482143,NaN
Romania,NaN,85.578947,84.071429,85.263158,85.333333,84.600000,82.857143,85.714286,82.000000,NaN
Serbia,NaN,NaN,NaN,NaN,NaN,89.000000,87.500000,NaN,NaN,NaN
Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,83.666667,NaN,NaN,NaN
Slovenia,89.750000,88.500000,89.000000,89.000000,88.285714,88.833333,86.666667,86.750000,NaN,NaN
South Africa,89.766129,88.018433,87.091241,85.825397,88.166667,87.832536,86.400000,86.368421,88.057143,NaN
Spain,86.333333,85.689189,84.550725,84.666667,85.757576,87.483968,82.000000,83.568627,87.548387,NaN
Switzerland,NaN,NaN,NaN,84.500000,NaN,NaN,NaN,NaN,NaN,NaN
Turkey,86.666667,91.000000,89.000000,88.500000,NaN,87.700000,NaN,89.000000,89.000000,NaN
US,89.311681,88.555786,87.729543,86.630028,88.877273,87.326671,87.397094,86.784223,88.359850,86.664819
Uruguay,NaN,83.500000,82.000000,83.500000,82.000000,85.387097,NaN,NaN,NaN,NaN

# Beyond 3

What is the correlation between the number of wines offered by a country, and the mean score for that country? That is: If a country enters more wines, does its average score in reviews go up?

In [5]:
(
    df
    .groupby('country')['points']
    .agg(['count', 'mean'])
    .corr()
)

          count      mean
count  1.000000  0.236117
mean   0.236117  1.000000